body {
  background-color: rgb(131, 0, 65);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin:0;
  position: relative;
}

#centro {
  background-color:rgb(255, 102, 235) ;
  backdrop-filter: blur(10px);
  width: 90%;
  max-width: 450px;
  border-radius: 20px;
  text-align: center;
  padding: 20px;
  min-height: 350px;

  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  
}

h1 {
  font-family:great vibes, cursive;
  color:rgb(78, 3, 3);
  align-content: center;
  margin-bottom: 15px;
  bottom: 15px;
  font-size: 20px;
}

#btnRegalo img{
  transition: 0.2s;
  border-radius: 15px;
  box-shadow: 0 8px 15px rgba(78, 3, 3, 00.2);
  right: 20px;
}

#btnRegalo {
  background-color:rgb(255, 102, 235) ;
  border:none;
  cursor: pointer;
  right: 20px;
}

#btnRegalo img:hover {
  filter: brightness(1.2);
}

#btnRegalo img:active {
  filter: brightness(0.7);
  transform: scale(0.95
  );
}

#btnConfirmar {
  background-color: rgb(226, 58, 204);
  border-radius: 8px;
  height: 40px;
  width: 120px;
  box-shadow: 0 8px 15px rgb(172, 41, 154);
  transition: all 0.1s ease;
  border: none;
  font-size: 20px;
  color:#ffc0f5;
  cursor: pointer;
  font-family: cursive;
}

#btnConfirmar:active{
  transform:translateY(5px);
  box-shadow: 0 0 0 #b40096;
}

#nombreInput {
  background-color: #ffc0f5;
  height: 40px;
  width: 170px;
  border-radius: 8px;
  font-size: 18px;
  color: rgb(78, 3, 3);
  font-family: cursive;
}

p {
  font-size: 15px;
  font-family: cursive;
  color:rgb(78, 3, 3);
}

#imagenFinal {
  display: block;
  margin: 15px auto;
  transform: scale(0);
  transition: transform 0.3s ease;

  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  max-width: 90%;
  height: auto;
}

#mensaje {
  opacity: 0;
  transition: opacity 0.4s ease;
}